*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
body{
    height: 2000px;
}
#container{
    width: 40%;
    height: 40%;
    margin:8% auto;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
   
}
#img-box{
    width:3750px;
    position: absolute;
    left:0;  /* 默认值为auto   */
    transition: left 1s linear;
}
/* 图片 */
#img-box img{
    float: left;
    width:750px;
    height: 400px;
    
}
.view{
    width: 100%;
    height: 100%;
    color: #fff;
    background-image: url(img/ed25b69962244d1890cb50568dc74fd4.gif);

    z-index: 2;
    position: absolute;
    left: 0;
    top :0;
}
.view img{
    width: 40%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}
.view .titi1{
    margin-top: 3%;
    text-align: center;
  
}
.pt-page-moveFromTop {
	-webkit-animation: moveFromTop .6s ease both;
	animation: moveFromTop .6s ease both;
}
@-webkit-keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); }
}
.pt-page-moveToTop {
	display: none;
}

.view #titi2{
    text-align: center;
    width: 4%;
    height: 3%;
    position: absolute;
    left: 50%;
    top:90%;
    transform: translateX(-50%);
}
#btn-box li,#arrow-box li{
    float: left;
    width: 20px;
    height: 20px;
    background: rgba(0,0,0,0.5);
    margin-right: 5px;
    color:#fff;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}
#btn-box .selected{
    background: #ff0036;
}
#btn-box{
    position: absolute;
    right:10px;
    bottom: 10px;
}
#arrow-box{
    position: absolute;
    left:10px;
    bottom:10px;
}
.all{
    height: 100%;
    width: 100%;
    background: url(./img/6.jpg) 
}
.title{
   
    color: black;
    font-size: 40px;
    margin-left: 50%;
    transform: translateX(-15%);
    
}
.lizi{
    font-size: 30px;
    margin-left: 5%;
}
.test li{
    width: 120px;
    height: 25px;
    background: #7d5585;
     margin: 2% 5%;
     
}